/* ---------------------------- */

/* CSS RESET */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS RESET ENDS */

/* ---------------------------- */

/* New Header Section css Starts */

/* Header Section CSS start */

#main-header {
  min-height: 20px;

  justify-content: space-between;

  font-weight: 500;
  line-height: 23px;
  background-color: #fff;

  min-height: 70px;
  position: relative;

  /* overflow: hidden; */

  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

.rachnaye-logo {
  min-width: 85%;
}

#main-header .header-nav {
  display: flex;
  justify-content: space-between;

  font-weight: 600;
  font-family: "Open Sans", "Arial", "sans-serif";
  transition: all 0.5s;
}

.nav-link-con {
  transition: all 0.65s;
}

#main-header .header-nav-link {
  text-decoration: none;

  font-size: 14px;

  padding-bottom: 20px;

  color: rgba(0, 0, 0, 0.6);
}

ul.header-nav{
  margin: unset;
} 

#main-header .header-nav-link-home {
  color: #2ea3f2;
}

#main-header .nav-hamburger {
  cursor: pointer;
}

/* Header Section CSS end */

/* New Header Section Ends */

/* Previous Header Section Start */

/* #main-header {
  justify-content: space-between;

  align-items: center;
  background-color: white;

  min-height: 60px;
  position: relative;

  box-shadow: 0px 4px 10px rgb(0 0 0 / 10%);
} */

/* .rachnaye-logo {
  width: 170px;
}

.user-ava {
  width: 2rem;
  cursor: pointer;
  height: 2rem;
  background-color: #fb8f67;
  display: flex;

  color: white;

  font-size: 1.25rem;
  align-items: center;
  font-family: "Open Sans", "Arial", "sans-serif";
  line-height: 1;
  user-select: none;
  border-radius: 50%;
  justify-content: center;
} */

/* Previous Header Section Ends */

/* ------------------------------------------------------------ */

/* Main Section Starts */

/* Resizing Book image starts */

#book-info {
  padding-top: 1rem;
  padding-left: 84px;
  padding-right: 84px;
}
 .book-info{
  padding-bottom: 20px;
 }

/* Short Book Description starts */

.bk-img-tag {
  width: 160px;
  height: 224px;
}
/* Resizing Book image end */

#book-info .info-name {
  text-transform: uppercase;
}

.bk-srt-desc .bk-price-previous {
  text-decoration: line-through;
}

.bk-info-head {
  font-size: 20px;
  font-family: "Poppins", "Noto Sans JP", sans-serif;
  font-weight: bold;
  line-height: 27px;
  letter-spacing: -0.24px;
}

.bk-price-con {
  margin-top: 15px;
}

.info-ttl {
  font-size: 14px;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-weight: bold;
  line-height: 19px;
  letter-spacing: -0.06px;
}

.info-ans {
  font-size: 14px;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-weight: 600;
  line-height: 19px;
  letter-spacing: -0.06px;

  color: #0000ff;

  margin-left: 16px;
}

.bk-price-con {
  border: 1px solid #9e9694;
  padding: 0.6rem 1rem 0rem 1rem;
  border-radius: 4px;
}

.bk-price h4 {
  font-size: 14px;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-weight: bold;
  line-height: 19px;
  letter-spacing: -0.06px;
  margin-bottom: 0;
}

.bk-final-price {
  font-size: 12px;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.05px;
}

.input-radio-buy {
  accent-color: #ff5c3e;
  transform: scale(1.5);
}

.bk-buy-btn {
  color: #fff;
  padding: 8px 3px;
  font-size: 16px;
  box-shadow: none;
  font-weight: 500;
  letter-spacing: 1.25px;
  text-transform: initial;
  background-color: #ff5c3e;

  border: none;
}

/* Short Book Description ends */

/* Book Long Description css starts */

.bk-head {
  margin-top: 2rem;
}

.bk-head-ttl {
  font-size: 20px;
  font-family: "Poppins", "Helvetica", "Arial", "Lucida", "sans-serif";
  font-weight: bold;
  line-height: 27px;
  letter-spacing: -0.24px;
}

.bk-summary {
  margin-top: 1rem;
}

.bk-summary {
  font-family: "Open Sans", "Arial", "sans-serif";
}

.bk-summary h4 {
  font-size: 16px;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-weight: 400;
  line-height: 19px;
  letter-spacing: -0.06px;
}

.bk-cvr-pts {
  flex-wrap: wrap;
}

.cvr-ptr-ctr {
  border: 1px solid #e8e8e8;
  margin: 0.5rem 0.5rem 1rem 0rem;
  padding: 0.5rem;
  font-size: 16px;
  background: #ffffff;
  border-radius: 2rem;
}

.cvr-pt {
  font-family: "Open Sans", "Arial", "sans-serif";
  font-weight: 400;

  white-space: nowrap;
  padding: 0 12px 0 12px;
  text-overflow: ellipsis;
}
/* Book Long Description css end */

/* Pulisher info starts */

.pub-abt h2 {
  font-size: 20px;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.24px;
}

.pub-abt-info h4 {
  font-size: 16px;
  font-family: "Open Sans", "Arial", "sans-serif";
  font-weight: 500;
  line-height: 19px;
  letter-spacing: -0.06px;
}

/* Pulisher info ends */

/* More books section starts */

.more-bks-heading {
  margin-top: 1rem;
}

.more-bks-heading h2 {
  font-size: 20px;
  font-family: "Poppins", "Helvetica", "Arial", "Lucida", "sans-serif";
  font-weight: 600;
  line-height: 27px;
  letter-spacing: -0.24px;
}

.more-bks-row {
  margin-top: 1rem;
}

.img-grid-item {
  padding: 1rem;
}

/* More books section end */

/* Main Section ends */

/* Footer  section CSS */

.col-lg-4.col-md-12.footer-element>ul {
    padding: unset;
}

#main-footer>p{
margin: unset;
}

#main-footer {
  padding-top: 40px;
  background-color: #49767b;
}

#main-footer .footer-heading {
  /* font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif; */
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
  color: #ffffff !important;
  line-height: 1.5em;

  font-size: 18px;
}

#main-footer .row {
  margin: 0 3rem;
}

#main-footer .footer-links {
  font-size: 15px;
  font-weight: 500;
  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;
  line-height: 1.8em;
}

#main-footer .social-icon {
  font-size: 25px;
}

#main-footer .social-icon-facebook {
  color: darkblue;
}
#main-footer .social-icon-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  /* Also define standard property for compatibility */
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.company-info {
  padding: 27px 0;
  background-color: black;
  color: #fff;

  font-family: "Poppins", Helvetica, Arial, Lucida, sans-serif;

  font-size: 16px;

  font-weight: 600;
}
/* Footer  section CSS ends */

/* ------------------------------------------------------------ */

/* Media Queries css start */

/* 768PX */
@media only screen and (max-width: 768px) {
  /* Book Short Description starts */
  .bk-img-details {
    flex-direction: column;
    align-items: center;
  }

  /* Book Short Description ends */
}

/* 575px */
@media only screen and (max-width: 575px) {
  .img-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  /* More Books */
  .img-grid-item {
    display: flex;
    justify-content: center;
  }
}

/* 510PX */
@media only screen and (max-width: 510px) {
  /* Book Short Description starts */

  .bk-info-head {
    font-size: 85%;
  }

  .bk-img-tag {
    width: 145px;
    height: 203px;
  }

  .info-ttl {
    font-size: 85%;
  }

  .info-ans {
    font-size: 85%;
  }

  /* Book Short Description ends */

  .img-grid-container {
    display: grid;

    grid-template-columns: 1fr;
  }
}

/* 444PX */
@media only screen and (max-width: 444px) {
  .info-ttl {
    font-size: 80%;
  }

  .info-ans {
    font-size: 80%;
  }

  .bk-price h4 {
    font-size: 75%;
  }

  .bk-price h5 {
    font-size: 65%;
  }

  .bk-buy-btn {
    font-size: 75%;
  }
  #book-info {
    padding-left: 50px;
    padding-right: 50px;
  }
}

/* 301px */
@media only screen and (max-width: 301px) {
  .bk-price h4 {
    font-size: 65%;
  }
}

/* Media Queries css end */
